@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.5s all;
}

::selection {
  background-color: lightskyblue;
  color: rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: aliceblue;
  display: none;
}

/* General menu styling */
nav {
  background-color: #ffffffbd;
  position: relative;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none; /* Hidden by default */
}

/* Menu styling */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  position: relative;
}

nav li a {
  text-decoration: none;
  color: #000000;
  padding: 19px;
  transition: 0.5s ease;
  font-size: 14px;
  font-weight: bold;
}

nav li a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.subnav {
  display: none;
  position: absolute;
  width: 190px;
  text-align: center;
  background-color: #ffffffbd;
}

nav ul li:hover .subnav {
  display: block;
}

/* Responsive design adjustments */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show hamburger icon on small screens */
  }

  nav ul {
    display: none; /* Hide menu by default on small screens */
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  nav ul.active {
    display: flex; /* Show menu when toggled */
  }

  nav li {
    width: 100%;
    text-align: center;
  }

  .subnav {
    position: static;
    width: 100%;
    display: none; /* Hide subnav by default on small screens */
  }

  nav li:hover .subnav {
    display: block; /* Show subnav on hover for small screens */
  }

  nav li a {
    padding: 15px;
    font-size: 16px;
  }
}

/* General container styling */
.container {
  color: #333;
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
}

/* Main content styling */
.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* About section styling */
.about-section {
  margin-bottom: 40px;
}

.about-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #007bff;
}

.about-content h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.about-content ul {
  list-style-type: none;
  text-align: left;
  margin-left: 20px;
}

/* Cooperation section styling */
.cooperation-section {
  margin-bottom: 40px;
}

.cooperation-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #007bff;
}

.cooperation-content {
  text-align: center;
}

.cooperation-image {
  position: relative; /* Position relative to use absolute positioning inside */
  width: 100%;
  height: 400px; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Hide overflow to keep text inside */
}

.cooperation-text {
  position: absolute;
  bottom: 20px; /* Adjust based on your design */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for better readability */
  color: #ffffff;
  border-radius: 5px;
  max-width: calc(
    100% - 40px
  ); /* Ensure text stays within container with padding */
  text-align: center;
  box-sizing: border-box; /* Ensure padding and border are included in width calculation */
}

.cooperation-content p {
  margin-bottom: 20px;
}

/* Disciplines section styling */
.disciplines-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.discipline-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.discipline-card h2 {
  font-size: 22px;
  color: #007bff;
  margin-bottom: 15px;
}

.discipline-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.discipline-card .more-info {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.discipline-card .more-info:hover {
  background-color: #0056b3;
}

.discipline-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .main-content {
    padding: 20px;
  }

  .about-section,
  .cooperation-section,
  .disciplines-section {
    margin-bottom: 30px;
  }
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(./images/headerBG.jpg);
  background-position: bottom;
  background-attachment: scroll;
  background-size: cover;
  color: #000000;
  background-repeat: no-repeat;
  height: 850px;
  width: auto;
  padding: 0;
}

@media (max-width: 768px) {
  header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
  }
  header h2 {
    font-size: 30px;
  }

}

#headerMask {
  background-color: #00000025;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0px;
  display: none;
}

header h1 {
  text-align: center;
  display: block;
  margin: auto;
  font-size: 40px;
  width: 100%;
  padding: 1em;
  font-weight: bold;
}

header h2 {
  text-align: center;
  display: block;
  margin: auto;
  width: 100%;
  padding: 1em;
  padding-top: 0px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

header p {
  text-align: center;
  display: block;
  margin: auto;
  width: 100%;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.752);
  border-radius: 10px 0 0 10px;
}

/* Footer Styling */
.footer {
  background-color: #2c2c2c;
  color: #ffffff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left,
.footer-center,
.footer-help,
.footer-right {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-left p,
.footer-right a {
  margin: 0;
  font-size: 14px;
}

.footer-center h3,
.footer-help h3,
.footer-right h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 5px 0;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links a:hover,
.footer-help a:hover {
  color: #1e90ff;
}

.footer-help p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-help a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Improved Responsive Design */
@media (max-width: 992px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-help,
  .footer-right {
    margin: 10px 0;
  }

  .footer-center .footer-links {
    align-items: center;
  }

  .footer-links a {
    margin: 3px 0;
  }
}

@media (max-width: 576px) {
  .footer-container {
    padding: 0 15px;
  }

  .footer-left p,
  .footer-right a,
  .footer-help p {
    font-size: 13px;
  }

  .footer-center h3,
  .footer-help h3,
  .footer-right h3 {
    font-size: 16px;
  }

  .footer-links a,
  .footer-help a {
    font-size: 13px;
    margin: 2px 0;
  }
}

/* Contact section styling */
.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px; /* Increased gap between text and map */
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.contact-info p {
  font-size: 16px;
  margin-bottom: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .contact-section {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
